node_modules/
.idea/
.vscode/

# Build caches
.gradle/
build/
app/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/

# Local configuration
local.properties
android/local.properties
android/.gradle/
android/.idea/

# macOS
.DS_Store
